* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

nav {
    width: 450px;
    height: 10vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    position: relative;
}

nav ul li {
    position: relative;
    padding: 10px 15px;
    display: grid;
    place-items: center;
}

.op {
    position: absolute;
    top: -30px;
    left: 15px;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background-color: blue;
    border: 6px solid #f5f5f5;
    transition: all 0.5s;
    z-index: 1;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav ul li a i {
    margin-top: 10px;
    font-size: 24px;
    transition: all 0.4s;
}

nav ul li a span {
    position: absolute;
    font-size: 12px;
    transform: translateY(45px);
    transition: all 0.5s;
    opacity: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}



.active i{
    color: white;
    z-index: 2;
    transform: translateY(-40px);
}

.active span{
    transform: translateY(10px);
    opacity: 1;
    width: auto;
    visibility: visible;
    font-size: 14px;
    font-weight: 500;
    color: blue;
}

@media (400px < width < 768px){
    body{
        padding-bottom: 20px;
        align-items: flex-end;
    }
}